body {
  font-family: EB Garamond;
}
.display-1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'EB Garamond', serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 90rem) / (48 - 25)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 25))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 40rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ba9b67 !important;
}
.bg-success {
  background-color: #ddc499 !important;
}
.bg-info {
  background-color: #383838 !important;
}
.bg-warning {
  background-color: #ffa6a6 !important;
}
.bg-danger {
  background-color: #b10e0e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ba9b67 !important;
  border-color: #ba9b67 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #8b6f3f !important;
  border-color: #8b6f3f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #8b6f3f !important;
  border-color: #8b6f3f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ece9e6 !important;
  border-color: #ece9e6 !important;
  color: #78695b !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #c7beb5 !important;
  border-color: #c7beb5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #78695b !important;
  background-color: #c7beb5 !important;
  border-color: #c7beb5 !important;
}
.btn-info,
.btn-info:active {
  background-color: #383838 !important;
  border-color: #383838 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-success,
.btn-success:active {
  background-color: #ddc499 !important;
  border-color: #ddc499 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #c79e58 !important;
  border-color: #c79e58 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #c79e58 !important;
  border-color: #c79e58 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffa6a6 !important;
  border-color: #ffa6a6 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ff4f4f !important;
  border-color: #ff4f4f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ff4f4f !important;
  border-color: #ff4f4f !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b10e0e !important;
  border-color: #b10e0e !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #610808 !important;
  border-color: #610808 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #610808 !important;
  border-color: #610808 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #8b6f3f;
  color: #ba9b67;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #8b6f3f !important;
  background-color: transparent!important;
  border-color: #8b6f3f !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ba9b67 !important;
  border-color: #ba9b67 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #c7beb5;
  color: #ece9e6;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #c7beb5 !important;
  background-color: transparent!important;
  border-color: #c7beb5 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #78695b !important;
  background-color: #ece9e6 !important;
  border-color: #ece9e6 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0d0d0d;
  color: #383838;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0d0d0d !important;
  background-color: transparent!important;
  border-color: #0d0d0d !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #383838 !important;
  border-color: #383838 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #c79e58;
  color: #ddc499;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #c79e58 !important;
  background-color: transparent!important;
  border-color: #c79e58 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ddc499 !important;
  border-color: #ddc499 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ff4f4f;
  color: #ffa6a6;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ff4f4f !important;
  background-color: transparent!important;
  border-color: #ff4f4f !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa6a6 !important;
  border-color: #ffa6a6 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #610808;
  color: #b10e0e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #610808 !important;
  background-color: transparent!important;
  border-color: #610808 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b10e0e !important;
  border-color: #b10e0e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #cfcfcf;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ba9b67 !important;
}
.text-secondary {
  color: #ece9e6 !important;
}
.text-success {
  color: #ddc499 !important;
}
.text-info {
  color: #383838 !important;
}
.text-warning {
  color: #ffa6a6 !important;
}
.text-danger {
  color: #b10e0e !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #81663a !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #c0b6ac !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #c4984d !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #050505 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ff4040 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #520707 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
  font-style: italic;
  border-bottom: 1px solid transparent;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ba9b67;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #383838;
}
.alert-warning {
  background-color: #ffa6a6;
}
.alert-danger {
  background-color: #b10e0e;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ba9b67;
  border-color: #ba9b67;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ba9b67;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e2d5bf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ababab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f14e4e;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ba9b67 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #ba9b67;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ba9b67;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ba9b67;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ba9b67;
  border-bottom-color: #ba9b67;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ba9b67 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ece9e6 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ba9b67' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sMzMR0CkOY {
  z-index: 1000;
  width: 100%;
}
.cid-sMzMR0CkOY nav.navbar {
  position: fixed;
}
.cid-sMzMR0CkOY .nav-link {
  transition: all .5s;
  border-bottom: 1px solid transparent;
  font-family: "Josefin Sans";
  position: relative;
  padding: 0;
  display: inline-block;
  font-weight: 400;
}
.cid-sMzMR0CkOY .nav-link:hover,
.cid-sMzMR0CkOY .nav-link:focus {
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 992px) {
  .cid-sMzMR0CkOY .nav-item {
    position: relative;
  }
}
.cid-sMzMR0CkOY .navbar {
  min-height: 107px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  position: absolute;
}
@media (min-width: 992px) {
  .cid-sMzMR0CkOY .navbar {
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #C0BCB7;
  }
}
.cid-sMzMR0CkOY .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #000000 !important;
}
.cid-sMzMR0CkOY .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-sMzMR0CkOY .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  z-index: 1;
  padding: .5rem 0;
}
@media (max-width: 991px) {
  .cid-sMzMR0CkOY .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-sMzMR0CkOY .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sMzMR0CkOY .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sMzMR0CkOY .navbar.collapsed .navbar-collapse.show,
.cid-sMzMR0CkOY .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sMzMR0CkOY .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-sMzMR0CkOY .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-sMzMR0CkOY .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sMzMR0CkOY .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sMzMR0CkOY .navbar.collapsed ul.navbar-nav li {
  margin-right: 14px;
}
.cid-sMzMR0CkOY .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-sMzMR0CkOY .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: center;
}
@media (max-width: 991px) {
  .cid-sMzMR0CkOY .navbar .navbar-collapse.show,
  .cid-sMzMR0CkOY .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .cid-sMzMR0CkOY .navbar .navbar-collapse.show .brand-container,
  .cid-sMzMR0CkOY .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-sMzMR0CkOY .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sMzMR0CkOY .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sMzMR0CkOY .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sMzMR0CkOY .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sMzMR0CkOY .navbar ul.navbar-nav li {
    margin: auto !important;
  }
  .cid-sMzMR0CkOY .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-sMzMR0CkOY .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-sMzMR0CkOY .navbar .right-menu,
  .cid-sMzMR0CkOY .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-sMzMR0CkOY .navbar.navbar-short {
  min-height: 60px;
  background: #000000 !important;
}
.cid-sMzMR0CkOY .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sMzMR0CkOY .navbar.navbar-short .navbar-brand {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-sMzMR0CkOY .navbar {
    padding: 2rem 1rem;
  }
  .cid-sMzMR0CkOY .navbar-collapse {
    padding-top: 0;
  }
}
.cid-sMzMR0CkOY .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-sMzMR0CkOY .navbar-brand .navbar-caption {
  font-family: "EB Garamond";
  line-height: inherit !important;
  font-weight: 400;
}
.cid-sMzMR0CkOY .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sMzMR0CkOY .dropdown-item.active,
.cid-sMzMR0CkOY .dropdown-item:active {
  background-color: transparent;
}
.cid-sMzMR0CkOY .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sMzMR0CkOY .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
}
.cid-sMzMR0CkOY .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-sMzMR0CkOY .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sMzMR0CkOY .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sMzMR0CkOY ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-sMzMR0CkOY ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-sMzMR0CkOY .navbar-buttons {
  margin-left: auto;
}
.cid-sMzMR0CkOY button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  outline: none;
}
.cid-sMzMR0CkOY button.navbar-toggler:hover {
  outline: none;
}
.cid-sMzMR0CkOY button.navbar-toggler:active {
  outline: none;
}
.cid-sMzMR0CkOY button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sMzMR0CkOY button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sMzMR0CkOY button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sMzMR0CkOY button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sMzMR0CkOY button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sMzMR0CkOY nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sMzMR0CkOY nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-sMzMR0CkOY nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-sMzMR0CkOY nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sMzMR0CkOY .navbar-dropdown {
  position: fixed;
}
.cid-sMzMR0CkOY a.nav-link {
  position: relative;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 3.41px;
}
.cid-sMzMR0CkOY .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sMzMR0CkOY .right-menu,
.cid-sMzMR0CkOY .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-sMzMR0CkOY .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sMzMR0CkOY .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-sMzMR0CkOY .right-menu .navbar-nav {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sMzMR0CkOY .right-menu .navbar-nav ul {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-sMzMR0CkOY .brand-container {
  padding: 0 4rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .cid-sMzMR0CkOY .brand-container {
    padding: 0;
  }
}
.cid-sMzMR0CkOY .card-wrapper {
  z-index: 3;
}
.cid-sMzMR0CkOY .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-sMzMR0CkOY .nav-item:not(:last-child) {
  margin-right: 22px !important;
}
@media (min-width: 1400px) {
  .cid-sMzMR0CkOY .nav-item:not(:last-child) {
    margin-right: 4rem !important;
  }
}
.cid-sMzMR0CkOY .navbar-brand img {
  width: auto !important;
  display: inline;
}
.cid-sMzMR0CkOY .navbar-dropdown .navbar-brand span {
  vertical-align: 0px;
  line-height: 1;
}
.cid-sMzMR0CkOY .link {
  padding: 0;
  margin: 0;
}
@media (min-width: 991px) {
  .cid-sMzMR0CkOY .dropdown-menu {
    z-index: 9999;
    margin-top: 40px;
    border: 1px solid #41392e;
    width: 250px;
  }
}
.cid-sMzMR0CkOY .navbar-caption {
  color: #ffffff;
}
.cid-sMzMR0CkOY .navbar-caption:hover {
  color: #ffffff;
}
.cid-sMzMR0CkOY .dropdown-item:hover {
  color: #ba9b67 !important;
}
.cid-sMzMR0CkOY .dropdown-toggle:after {
  display: none;
}
.cid-sMzMR0CkOY a:hover .line-animation,
.cid-sMzMR0CkOY a:focus .line-animation {
  opacity: 1;
}
.cid-sMzMR0CkOY .nav-dropdown .link {
  padding: 0 !important;
}
@media (max-width: 990px) {
  .cid-sMzMR0CkOY .dropdown-menu {
    margin-top: 0px;
  }
  .cid-sMzMR0CkOY .nav-dropdown .link {
    padding-top: 15px !important;
  }
}
.cid-sNBLwKVrvT {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-sNBLwKVrvT .carousel {
  overflow: hidden;
}
@media (min-width: 992px) {
  .cid-sNBLwKVrvT .carousel {
    height: 940px;
  }
}
@media (max-width: 768px) {
  .cid-sNBLwKVrvT .carousel {
    height: 400px;
  }
}
.cid-sNBLwKVrvT .carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.cid-sNBLwKVrvT .carousel .carousel-item,
.cid-sNBLwKVrvT .carousel .carousel-inner {
  height: 100%;
}
.cid-sNBLwKVrvT .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-sNBLwKVrvT .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sNBLwKVrvT .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sNBLwKVrvT .carousel-control:hover {
  color: #fff;
  opacity: 1;
}
.cid-sNBLwKVrvT .item-wrapper {
  position: relative;
  text-align: start;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sNBLwKVrvT .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sNBLwKVrvT .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sNBLwKVrvT .row {
  position: relative;
}
.cid-sNBLwKVrvT .container {
  margin-bottom: 3px;
}
.cid-sNBLwKVrvT .carousel-control {
  color: #ffffff;
  top: 50%;
  width: 100px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 40px;
  border-radius: 50%;
  transition: all 0.3s;
  opacity: .8;
}
.cid-sNBLwKVrvT .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sNBLwKVrvT .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sNBLwKVrvT .carousel-control {
    top: 70%;
  }
  .cid-sNBLwKVrvT .carousel-control.carousel-control-prev {
    margin-left: .5rem;
  }
  .cid-sNBLwKVrvT .carousel-control.carousel-control-next {
    margin-right: .5rem;
  }
}
.cid-sNBLwKVrvT .buttons-wrap {
  justify-content: start;
}
.cid-sNBLwKVrvT .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 768px) {
  .cid-sNBLwKVrvT .carousel-caption {
    padding-left: 15px;
    padding-right: 15px;
  }
  .cid-sNBLwKVrvT .buttons-wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .cid-sNBLwKVrvT .buttons-wrap .mbr-section-btn {
    margin-bottom: 10px;
  }
}
.cid-sNBLwKVrvT .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-sNBLwKVrvT .wrap {
  z-index: 9999;
}
.cid-sNBLwKVrvT .btnHeader {
  font-family: 'Cormorant Garamond';
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  cursor: pointer;
  left: 50%;
  top: 70%;
  border: 1px solid #9a948d;
  justify-content: center;
  transition: border 0.5s ease;
  transform: translateX(-50%);
}
.cid-sNBLwKVrvT .btnHeader::before,
.cid-sNBLwKVrvT .btnHeader::after {
  content: '';
  width: 102%;
  height: 102%;
  position: absolute;
  border-radius: 50%;
  top: -1px;
  left: -1%;
}
.cid-sNBLwKVrvT .btnHeader::before {
  border: 1px solid transparent;
  transition: border-top-color 0.1s linear, border-right-color 0.1s linear 0.1s, border-bottom-color 0.1s linear 0.2s;
}
.cid-sNBLwKVrvT .btnHeader:hover::before {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-sNBLwKVrvT .btnHeader::after {
  border: 0 solid transparent;
  transition: transform 0.2s linear 0s, border-left-width 0s linear 0.3s;
}
.cid-sNBLwKVrvT .btnHeader:hover::after {
  border-top: 1px solid #ffffff;
  border-left-color: #ffffff;
  border-left-width: 1px;
  bordersborder-right-width: 1px;
  borderstransform: rotate(270deg);
}
.cid-sNBLwKVrvT .img {
  position: relative;
}
.cid-sNBLMZ8bqj {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
@media (min-width: 1400px) {
  .cid-sNBLMZ8bqj .wrapper {
    padding: 0 4rem;
  }
}
@media (max-width: 991px) {
  .cid-sNBLMZ8bqj .item {
    margin-bottom: 3rem;
  }
}
.cid-sNBLMZ8bqj .item-wrapper:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-sNBLMZ8bqj .item-wrapper {
  height: 100%;
}
.cid-sNBLMZ8bqj .item-img {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.cid-sNBLMZ8bqj .item-img img {
  transition: all 1.5s;
  height: 100%;
  object-fit: cover;
}
.cid-sNBLMZ8bqj .btn {
  font-family: 'Cormorant Garamond';
  min-width: 215px;
  padding: .8rem 4rem;
  position: relative;
  color: #ffffff;
}
.cid-sNBLMZ8bqj .effectHover {
  position: absolute;
  width: 105%;
  height: 90%;
  border: 1px solid #9A948D;
}
.cid-sNBLMZ8bqj .effectHover::before {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top left;
  border-left: 1px solid #9A948D;
  border-top: 1px solid #9A948D;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-sNBLMZ8bqj .effectHover::after {
  content: "";
  right: -1px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  border-bottom: 1px solid #9A948D;
  border-right: 1px solid #9A948D;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-sNBLMZ8bqj .btn:hover .effectHover::before {
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: scale3d(1, 1, 1);
}
.cid-sNBLMZ8bqj .btn:hover .effectHover::after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scale3d(1, 1, 1);
}
.cid-sNBLMZ8bqj .text-wrapper {
  width: 85%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.cid-sNBLPXZFYx {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-sNBLPXZFYx .lin {
  font-style: italic;
}
.cid-sNBLPXZFYx .mbr-iconfont {
  font-size: 40px;
  color: #ffffff;
}
.cid-sNBLSFIWuo {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
@media (min-width: 992px) {
  .cid-sNBLSFIWuo .wrapper {
    position: relative;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 25px;
  }
}
@media (min-width: 769px) {
  .cid-sNBLSFIWuo .row .col-12 {
    padding-left: 11px;
    padding-right: 11px;
  }
}
.cid-sNBLSFIWuo .item-img {
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.cid-sNBLSFIWuo .item-img img {
  object-fit: cover;
  height: 100%;
  transition: transform 1.5s;
}
.cid-sNBLSFIWuo .item-img:hover img {
  width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.cid-sNBLSFIWuo img {
  object-fit: cover;
}
@media (max-width: 575px) {
  .cid-sNBLSFIWuo .top {
    padding-top: 20px;
  }
}
.cid-sNBLSFIWuo .close {
  position: fixed;
  font-size: 16px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  color: #fff;
  opacity: .7;
  top: 2.5rem;
  right: 2.5rem;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-sNBLSFIWuo .close::before {
  content: '\e91a';
}
.cid-sNBLSFIWuo .close:hover {
  color: #fff;
}
.cid-sNBLSFIWuo .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-sNBLSFIWuo .carousel-control-prev span {
  margin-right: 5px;
}
.cid-sNBLSFIWuo .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-sNBLSFIWuo .carousel-control-next span {
  margin-left: 5px;
}
.cid-sNBLSFIWuo .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 3rem;
  background-color: inherit;
  transition: all 0.5s;
  opacity: 1;
}
.cid-sNBLSFIWuo .carousel-control.carousel-control-prev {
  left: -50%;
  margin-left: 2.5rem;
}
.cid-sNBLSFIWuo .carousel-control.carousel-control-next {
  right: -50%;
  margin-right: 2.5rem;
}
@media (max-width: 1050px) {
  .cid-sNBLSFIWuo .carousel-control {
    top: auto;
    bottom: 1rem;
  }
  .cid-sNBLSFIWuo .carousel-control.carousel-control-prev {
    top: 50%;
    left: -5%;
  }
  .cid-sNBLSFIWuo .carousel-control.carousel-control-next {
    top: 50%;
    right: -5%;
  }
}
.cid-sNBLSFIWuo .carousel-inner {
  display: flex;
  align-items: center;
}
@media (min-width: 1400px) {
  .cid-sNBLSFIWuo .carousel-item img {
    width: 70%;
  }
}
.cid-sNBLSFIWuo .carousel-inner > .active {
  display: block;
}
.cid-sNBLSFIWuo .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sNBLSFIWuo .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sNBLSFIWuo .carousel-control-prev:hover {
  margin-left: 2rem;
  background-color: transparent;
}
.cid-sNBLSFIWuo .carousel-control-next:hover {
  margin-right: 2rem;
  background-color: transparent;
}
@media (max-width: 768px) {
  .cid-sNBLSFIWuo .carousel-control,
  .cid-sNBLSFIWuo .carousel-indicators {
    position: fixed;
  }
}
.cid-sNBLSFIWuo .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-sNBLSFIWuo .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sNBLSFIWuo .modal-content {
  width: 50%;
  margin: 0 auto;
  border-radius: 0;
  border: none;
  background: transparent;
}
@media (max-width: 1050px) {
  .cid-sNBLSFIWuo .modal-content {
    width: 70%;
  }
}
.cid-sNBLSFIWuo .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-sNBLSFIWuo .carousel {
  width: 100%;
}
.cid-sNBLSFIWuo .modal-backdrop.in {
  opacity: 0.8;
}
.cid-sNBLSFIWuo .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-sNBLSFIWuo .modal.fade .modal-dialog,
.cid-sNBLSFIWuo .modal.in .modal-dialog {
  transform: none;
}
.cid-sNBLSFIWuo .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-sOfLdi4pNY {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-sOfLdi4pNY .row {
  justify-content: center;
}
.cid-sOfLdi4pNY .row .img-item {
  height: 354px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: all 0.7s;
  display: -webkit-flex;
  width: 100%;
}
.cid-sOfLdi4pNY .row .img-item img {
  transition: all 0.7s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 1px;
}
@media (max-width: 768px) {
  .cid-sOfLdi4pNY .top {
    margin-top: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sOfLdi4pNY .title {
    padding-left: 60px;
  }
}
@media (min-width: 1400px) {
  .cid-sOfLdi4pNY .title {
    padding-left: 120px;
  }
}
.cid-sOfLdi4pNY .btn {
  font-family: "Cormorant Garamond";
  padding: 0.8rem 4rem;
  position: relative;
  color: #c0bcb7;
}
.cid-sOfLdi4pNY span {
  position: absolute;
  width: 105%;
  height: 80%;
  border: 1px solid #41392e;
}
.cid-sOfLdi4pNY span::before {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 1px solid #41392e;
  border-left: 1px solid #41392e;
  transform-origin: top left;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-sOfLdi4pNY span::after {
  content: "";
  right: -1px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #41392e;
  border-right: 1px solid #41392e;
  transform-origin: bottom right;
  transform: scale3d(0, 0, 1);
  transition: all 0.7s;
}
.cid-sOfLdi4pNY .btn:hover span::before {
  border-top: 1px solid #ba9b67;
  border-left: 1px solid #ba9b67;
  transform: scale3d(1, 1, 1);
}
.cid-sOfLdi4pNY .btn:hover span::after {
  border-bottom: 1px solid #ba9b67;
  border-right: 1px solid #ba9b67;
  transform: scale3d(1, 1, 1);
}
.cid-sOfLdi4pNY .item-title {
  top: 50%;
  left: 50%;
  min-width: 200px;
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -20%);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.cid-sOfLdi4pNY .img-item:hover .item-title {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.cid-sOfLdi4pNY .img-item:hover img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.9);
  opacity: 0.2;
}
.cid-sOfLdi4pNY .mbr-text {
  font-style: italic;
  color: #9a948d;
  font-family: "Cormorant Garamond";
  text-align: center;
}
.cid-sOfLdi4pNY h3 {
  font-family: "Cormorant Garamond";
}
.cid-sOfLdi4pNY .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-sOfLdi4pNY .mbr-title {
  text-align: left;
}
.cid-sNBLZmeO2v {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #000000;
}
.cid-sNBLZmeO2v .plan {
  position: relative;
  word-break: break-word;
  border: 1px solid #41392e;
  -webkit-box-shadow: preserve-3d;
  -moz-box-shadow: preserve-3d;
  transform-style: preserve-3d;
  padding: 80px 90px;
}
.cid-sNBLZmeO2v .plan1 {
  position: relative;
  word-break: break-word;
  border: 1px solid #41392e;
  -webkit-box-shadow: preserve-3d;
  -moz-box-shadow: preserve-3d;
  transform-style: preserve-3d;
  padding: 101px 100px;
}
.cid-sNBLZmeO2v .plan::after {
  content: "";
  left: 2%;
  position: absolute;
  width: 96%;
  height: 104%;
  -webkit-box-shadow: translateZ(-1px);
  -moz-box-shadow: translateZ(-1px);
  transform: translateZ(-1px);
  background: #0b0a08;
}
.cid-sNBLZmeO2v .plan1::after {
  content: "";
  left: 2%;
  position: absolute;
  width: 96%;
  height: 104%;
  -webkit-box-shadow: translateZ(-1px);
  -moz-box-shadow: translateZ(-1px);
  transform: translateZ(-1px);
  background: #171410;
}
@media (max-width: 1400px) {
  .cid-sNBLZmeO2v .plan {
    padding: 4rem;
  }
  .cid-sNBLZmeO2v .plan1 {
    padding: 5rem 4rem;
  }
}
@media (max-width: 768px) {
  .cid-sNBLZmeO2v .plan,
  .cid-sNBLZmeO2v .plan1 {
    padding: 1rem 4.5rem;
  }
}
@media (max-width: 991px) {
  .cid-sNBLZmeO2v .plan,
  .cid-sNBLZmeO2v .plan1 {
    margin-bottom: 2rem;
  }
}
.cid-sNBLZmeO2v .mbr-section-title {
  font-size: 61px;
  color: #ffffff;
  line-height: 1.1;
}
.cid-sNBLZmeO2v .mbr-section-subtitle {
  font-family: "EB Garamond";
  color: #c0bcb7;
}
.cid-sNBLZmeO2v .first-title {
  font-style: italic;
  color: #9a948d;
  font-family: 'Cormorant Garamond';
}
.cid-sNBLZmeO2v .two-title {
  font-style: italic;
  color: #ddc499;
  font-family: 'Cormorant Garamond';
}
.cid-sNBLZmeO2v .first-subtitle {
  color: #c0bcb7;
  font-family: "EB Garamond";
}
.cid-sNBLZmeO2v .big {
  font-size: 70px;
}
.cid-sNBLZmeO2v .plan-title {
  color: #ffffff;
}
.cid-sNBLZmeO2v .mbr-text {
  font-family: 'Cormorant Garamond';
}
.cid-sNBM4eunhg {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
@media (min-width: 1400px) {
  .cid-sNBM4eunhg .wrapper {
    padding: 0 4rem 0 8rem;
  }
}
.cid-sNBM4eunhg .left-side {
  text-align: left;
  padding-right: 5rem;
}
.cid-sNBM4eunhg .row {
  align-items: center;
}
@media (max-width: 600px) {
  .cid-sNBM4eunhg .mbr-section-btn {
    margin-bottom: 25px;
  }
}
.cid-sNBM4eunhg .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
.cid-sNBM4eunhg .mbr-section-subtitle {
  color: #626262;
  margin: 0;
  text-align: left;
}
.cid-sNBM4eunhg .panel-text {
  margin: 0;
  border: 0px;
  color: #9A948D;
  font-family: "EB Garamond";
}
.cid-sNBM4eunhg span {
  color: #ffffff;
  float: right;
  margin-top: 2px;
}
.cid-sNBM4eunhg .panel-title-edit {
  font-family: 'Cormorant Garamond';
  color: #ffffff;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #41392e;
}
.cid-sNBM4eunhg .card-header {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0;
}
.cid-sNBM4eunhg .card {
  border-radius: 0;
  margin-bottom: 22px;
}
@media (max-width: 990px) {
  .cid-sNBM4eunhg .left-side {
    padding: 15px;
  }
}
.cid-sNBM4eunhg img {
  width: 100%;
  transition: all 2s;
}
.cid-sNBM4eunhg img:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-sMzN9d7VrO {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
.cid-sMzN9d7VrO .media-container-row .mbr-text {
  color: #9a948d;
}
